.vscode/*
**/.idea/*

*.o
*.so
*.a
**/__pycache__/**

blaspp/
blaspp/*
blaspp-build/*
blaspp-install/*

hqrrp-build/*
hqrrp-install/*

lapackpp/
lapackpp/*
lapackpp-build/*
lapackpp-install/*

benchmark/build/*
